.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.now {
    width: 50%;
    height: 100%;
    color: #081225;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting {
    width: 50%;
    height: 100%;
    background-color: #081225;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.time {
    letter-spacing: 1.1px;
    font-size: 14px;
}