.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(37,46,71,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(37,46,71,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(37,46,71,0.75);
}

.headerWrapper {
    width: 100%;
    height: 50px;
}

.header {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #081225;
}

.profileWrapper {
    width: 100%;
    height: 280px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.imageWrapper {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile {
    width: calc(100% - 520px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.passwordWrapper {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.iconWrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.active {
    color: green;
}

.statusWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.account {
    color: #000;
}

.span {
    letter-spacing: 1.1px;
    font-size: 16px;
}

.joinWrapper {
    display: flex;
    flex-direction: row;
    gap:5px;
}

.emailWrapper {
    display: flex;
    flex-direction: row;
    gap:5px;
}

.classWrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classHeader {
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #081225;
}

.className {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #081225;
}

.statisticWrapper {
    width: 100%;
    height: calc(100% - 480px);
}

.statisticHeader {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #081225;
}

.statistic {
    width: 100%;
    height: calc(100% - 25px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 300px;
    height: 100%;
    background-color: #081225;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.cardHeader {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #fff;
}

.cardGrade {
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #fff;
}