.container {
    @apply w-screen h-screen box-border bg-white
}

.wrapper {
    @apply w-full h-full flex justify-center items-center bg-white 
}

.loginBox {
    box-shadow: 6px 6px 5px 0px rgba(64,64,64,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(64,64,64,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(64,64,64,0.75);
    @apply w-96 h-3/5 flex flex-col gap-4 items-center justify-start overflow-hidden rounded-md p-2
}

.headerWrapper {
    @apply w-full h-1/5 flex justify-center items-center gap-1 flex-col 
}

.header {
    @apply font-bold text-2xl text-center tracking-wider
}

.message {
    @apply font-medium text-base text-center tracking-wider text-red-700
}

.inputWrapper {
    height: calc(100% - 8rem - 20%);
    @apply w-full flex flex-col justify-center items-center gap-7
}

.inputBox {
    @apply w-full flex flex-col justify-start items-start gap-2
}

.label {
    @apply font-semibold text-lg tracking-wider
}

.input {
    @apply w-full h-8 text-base tracking-wider p-1 text-slate-700
}

.input:focus {
    @apply outline-none border-b border-b-gray-600
}

.buttonWrapper {
    @apply w-full h-28 flex justify-center items-center
}

.button {
    @apply w-full h-10 flex justify-center items-center bg-orange-500 text-lg font-semibold tracking-wider text-white 
}